@font-face {
  font-family: 'icomoon';
  src:  url('..//fonts/icomoon.eot?k8uci8');
  src:  url('..//fonts/icomoon.eot?k8uci8#iefix') format('embedded-opentype'),
    url('..//fonts/icomoon.ttf?k8uci8') format('truetype'),
    url('..//fonts/icomoon.woff?k8uci8') format('woff'),
    url('..//fonts/icomoon.svg?k8uci8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-yelp:before {
  content: "\ead7";
}

