@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
/* ==========================================================================
Theme Name: Hollywood Clinic
Author: Alejandra Zerda Guzman 
Description: 
Version: 0.1
License: GNU General Public License
========================================================================== */
/*========================================================================== */
/*========BOOTSTRAP==================*/
body.home{
	font-family: 'Lato', sans-serif;
	color: #4a4a4a;
    margin: 0;
    padding: 0;
}
body.home section { overflow: hidden; }
.container-fluid.wrapper {
    padding-right: 0px;
    padding-left: 0px;
}
iframe { max-width: 100%; }
.container {
    height: 100%;
    margin-bottom: 40px;
}
/*menu*/
.navbar {
	border: none;
	background: none;
	box-shadow: none;
	margin-bottom: 0;
}
.container-fluid {
    height: 100%;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(233, 0, 0);
}
.navbar-default .navbar-toggle {
    border-color: rgb(233, 0, 0) !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgb(255, 255, 255) !important;
}
.navbar-toggle {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(233, 0, 0) !important;
    display: block;
}
.reserve {
    background-color: rgb(255, 255, 255);
    color: rgb(233, 0, 0);
    position: absolute;
    right: 73px;
    height: 34px !important;
    margin: 8px 0;
    font-size: 12px;
}
.collapse.in {
    visibility: visible !important;
    top: 50px;
    border: 1px solid rgb(255, 0, 0);
    position: absolute;
    right: 0px;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
.navbar-toggle.link{display: none;}
.navbar-nav > li > a {
    font-size: 14px;
    text-transform: uppercase;
}
.nav.navbar-nav {
    padding: 14px 0px;
    margin-right: 0px;
    cursor: pointer;
}
.nav > li {
    padding-left: 41px;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
    text-shadow: 0 3px 3px rgba(0,0,0,.3);
}
a:focus, a:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-shadow: none;
}
body.background-white .navbar-default .navbar-nav > li > a {
    color: #e90000;
    text-shadow: none;
}

.navbar-nav li.selected a,
.navbar-default .navbar-nav > li > a:hover {
    color: #e90000;
}

h1 {
    font-size: 29px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.form-group {
    padding: 0px 15px;
}

.nf-form-cont {
    background-color: rgba(0, 0, 0, 0);
 }
footer li{
    list-style: none;
}
.text-left {
    text-align: left !important;
}
a {
    color: white;
}
#services li {
    list-style: none;
}
.btn {
    cursor: pointer;
}
a:focus, a:hover {
    text-decoration: none;
}
/*==========================================*/
.white{
	color: white;
}
.gray-font
{
    color:#C0C3C5;
}
.light-gray {
    background-color: #f7f8fa;
}
.dark-gray{
	background-color: #2b343b;
    color: white;
}
.gray{
	background-color: #363f47;
}
.uppercase {text-transform: uppercase;}
.background-opacity {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    color: white !important;
}
.background-opacity-white{
    background-color: rgba(255,255,255,0.8);
    color: #4a4a4a !important;
}   
.background-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
section{
    height: 100%;
    margin-bottom: 28px;
}
#sercices{
    height: 100vh;
}
p{
    font-weight: 300;
}
/*-----NAVBAR---------*/
/*boton*/
.reserve{display: none;}
.logo {
    padding: 17px 0px;
    width: 174px;
}
.logo.logo-movil {display: none;}
body.background-white .logo-white {
    display: none;
}
body.background-white .logo-red {
    display: block;
}
.navbar-bran {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    left: 97px;
}
/*Navbar fijo*/
/**/
.navbar-fijo{
    background-color: white;
}

.navbar-fijo.navbar-default .navbar-nav > li > a{
    color: #e90000;
    border-bottom: 2px solid white;
}

.navbar-fijo.navbar-default .navbar-nav > li > a:hover {
    color: #e90000;
    border-bottom: 2px solid #e90000;
}

.navbar-fijo .navbar-nav > li > a {
    font-size: 13px;
}
.logo.logo-red{
    display: none;
}
.navbar-fijo .logo.logo-white{
    display: none;
}
.navbar-fijo .logo.logo-red{
    display: block;
    width: 174px;
}
/*-----BANNER---------*/
#seccion-home, 
#seccion-why-come-to-us  {margin-bottom: 0px;}
.banner-container{
	height: 100vh;
}
.banner-container .container{
	display: table;
}
.banner-container .page-content {
    display: table-cell;
    vertical-align: middle;
}

.baner-heading {
    font-size: 3.6em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 28px;
    line-height: 1.4em;
   
}
.banner-container .lead{
	text-align: center;
	font-size: 1.2em;
    margin-bottom: 60px;
}

.btn-red ,
.field-wrap.submit-wrap input{
    background-color: #e90000;
    border-color: #e90000;
    background-image: none;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    height: 46px;
    width: 230px !important;
    font-weight: 800;
    color: white;
}

a.btn-red {
    height: 36px;
}

.btn-red:hover , .btn-red:active, .btn-red:active:focus, .btn-red:focus,
.btn-info:hover ,.btn-info:active, .btn-info:active:focus, .btn-info:focus ,
.field-wrap.submit-wrap input:hover, .field-wrap.submit-wrap input:active ,.field-wrap.submit-wrap input:focus
{
    background-color: white !important;
    border-color: #e90000 !important;
    color: #e90000;
}
.banner-container {
    margin-bottom: 0px;
}
/*Modulo why come to us*/
#seccion-why-come-to-us .container, 
#seccion-what-types-of-issues-can-we-manage .container {
	width: 100%;
}
.grid-row {
    padding-bottom: 50px;
    padding-top: 50px;
}
.content-text{
	margin-top: 42px;
	padding: 0px 77px;
}
.content-text p {
    margin-top: 34px;
    font-size: 1.3em;
    line-height: 1.3em;
}
.grid-img{
	margin-top: 57px;

}

.grid-img .col-sm-2{
	width: 19%;
}
.grid-img .col-sm-2 .arrow-red {
    padding-top: 30px;
    width: 30px;
    margin: 0 auto;
}
.container-icons .content-tex {
	margin: 0 auto;
	padding: 0px;
}
.container-icons .content-text {
	padding: 0px;
	font-size: 0.8em;
	margin: 0 auto;
}
span.blue{
	color:#60ade0;
}

/*Modulo listas*/
.list{
	margin-top: 71px;
	margin-bottom: 51px;
}

.col-center{
	margin: 0 auto;
	float: none;
	padding: 0px;
	text-align: center;
}

.list-group {
    margin-top: 48px;
    border: 1px solid #CCCCCC;
    text-align: justify;
    padding-top: 37px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 68px;
}
#seccion-what-types-of-issues-can-we-manage .list-group {text-transform: uppercase;}
.list-group-item {
    border: none;
    background: none;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 24px;
    font-size: 13px;
    padding-right: 0px;
}
.list-group-item::after {
	content: '';
	border: 3px solid #C70000;
	border-radius: 10px;
	font-size: 0px;
	position: relative;
	margin-left: 23px;
	top: -4px;
}
.list-group-item:last-child::after{
	border: none;
	border-radius: none;
}
.content-text h3{
	margin-bottom: 37px;
}
/*Single page comunes*/

#seccion-services .navbar-nav > li > a {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
}
.filter {
    overflow: auto;
    margin-bottom: 23px;
}
.carousel.filter ul {
	display: inline-block;
	float: none;
}
.roundabout .item { position: relative; }

.roundabout .item h1 { font-size: 2em !important; }
.roundabout .item ul { padding-left: 0; }

#seccion-services .item {
    border-radius: 9px;
    width: 500px;
    text-align: center;
    padding: 0px;
    background-color: white;
    margin: 0px 54px;
}

.item-title {
    width: 100%;
    display: block;
    padding: 14px 0px;
  
}
.item-title h1{
        font-weight: 300;
}
.item-list {
    padding: 9px 0px;
    border-bottom: 1px solid #f7f8fa;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.item-list li {
    line-height: 2.2em;
    font-weight: 700;
    margin-bottom: 1px;
    list-style: none;
}
#seccion-services p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1em;
}
#slider-services{
    margin-bottom: 37px;
    text-align: center;
    position: relative;
    color: #4a4a4a;
}

#slider-services > div {
    display: block !important ;
}

.carousel-control {
    font-size: 34px;
}
.roundabout .listado { width: 900px; margin: 0 auto; overflow: hidden; }

/*.roundabout .listado .item-list span.price:before { content: "$"; }*/

#seccion-body-sculpting .col-sm-6.background-img,
#seccion-body-sculpting .col-xs-12.background-img{
    padding-right: 0px;
    padding-left: 0px;
}
#seccion-body-sculpting .container{
    margin-bottom: 30px;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
#seccion-body-sculpting .page-title {width: 86.5%; margin: 0 auto;}
#seccion-body-sculpting p{
	font-size: 1em;	
}

.page-title {
    border-bottom: 1px solid;
    margin-top: 103px;
    padding-bottom: 12px;
}
.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px center;
}
.background-img.right{
	position: absolute;
    right: 0px;
}
.background-img.left{
	position: absolute;
    left: 0px;
}
.item-img{
	height: 251px;
    display: table;
}
.btn-info {
    border: 2px solid white;
    background-color: transparent;
    background-image: none;
    margin: 0 auto;
    color: white;
    height: 46px;
    width: 46%;
}
a.btn-info {
    height: 36px;
}
.page-content .text{
    margin-top: 12px;
    font-size: 2em;
    line-height: 1.3em;
}
.page-content .text-right{
    padding-right: 32px;
}
.page-content .text-left{
    padding-left: 32px;

}
.page-content .row{
    margin-top: 51px;
    margin-bottom: 61px;
}
/*IV INFUSIONS*/
/*slider*/
#slider-infusions{
    text-align: center;
    position: relative;
    margin-top: 30px;
}
.item {
    padding: 0px 15px;
}
.listado .item { display: inline-block; vertical-align: top;}
.carousel-control { 
    background-image: none !important;
}
.carousel-control.left{
    left: -105px;
}
.carousel-control.right{
    right: -105px;
}
#seccion-iv-infusions .item ol{
    margin-top: 19px;
    padding-left: 23px;
}
#seccion-iv-infusions .item ol li{
    line-height: 2.3em;
}
#seccion-iv-infusions .item p.price {
    font-size: 2em;
    font-weight: 800;
    list-style: none;
}
/*FAQS*/
.fags .col-sm-12{
    padding: 0px;
}

.glyphicon-triangle-bottom {
    position: absolute;
    right: 17px;
    top: 50%;
    margin-top: -10px;
    font-size: 17px;
}
#seccion_acordeon {
    margin-top: 53px;
    margin-bottom: 50px;
}
.ui-accordion-header-icon{
    visibility: hidden;
}
h3.ui-accordion-header.ui-state-active span.glyphicon:before {
  content: "\e253";
}
div.single-page .page-content{
    margin-top: 61px;
}
div.single-page .col-sm-4 {
    width: 38.333%;
}
.about-us .col-sm-12 ,
.contact-us .col-xs-11 , .contact-us .col-sm-6
{
    padding-bottom: 30px;
}

div.single-page p{
    font-size: 1.2em;
}

.button{
    display: table;
    width: 100%;
    height: 70px;
    padding-top: 41px;
}

/*Contact us */
#contact-us .row.page-content{
    margin-top: 28px;
}
#contact-us .col-sm-6 {
    width: 49%;
}

.nf-form-cont {
    padding: 0px 6px;
    background-color: #f7f8fa;
    margin-top: 39px;
    overflow: auto;
    margin-bottom: 14px;
}

label{padding-bottom: 12px;}
.nf-form-title h3{
    padding-left: 8px;
    font-size: 1.1em;
    margin-bottom: 27px;
    text-transform: uppercase;

}
.nf-field-element textarea {
    height: 121px !important;
}
input , textarea
{
    border: 1px solid rgba(74,74,74,0.5);
}
.ninja-forms-field.nf-element{
    border: 1px solid rgba(74,74,74,0.5);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transitio n: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transitio\ n: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;


}
form textarea {
    height: 121px !important;
}

.field-wrap.submit-wrap {
    float: right;
    margin-right: 16px;
    margin-top: 10px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.google-maps {
    margin-top: 27px;
    width: 557px;
    height: 277px;
    margin-bottom: 19px;
}

/*FOOTER*/
footer {
    overflow: auto;
}
.footer-logo{
    position: absolute;
    left: -32px;
    width: 376px;
    padding: 0px;
    border-radius: 39px;
    border: 2px solid #ACACAC;
    height: 80px;
    background-color: white;
    top: -47px;
}
footer .logo {
    left: 138px;
    padding: 17px 0px;
    width: 195px;
    position: relative;
}
.footer-widgets {
    margin-top: 46px;
    position: relative;
    padding-bottom: 10px;
}
.footer-widgets .container{
    padding-right: 0px;
    padding-left: 0px;
}
.widget-col-1{
    padding-top: 48px;
}
footer ul{ 
    padding-left: 6px;
}
footer ul li{
    line-height: 2.4em;
}
.footer-widgets .btn-info {
    background-color: transparent;
    border-color: #9EA2A6;
    width: 193px;
    margin-left: 6px;
}
/*DEBUG*/
.footer-widgets .col-sm-3{
    margin-top: 6px;
}
.footer-widgets .container .col-sm-3:first-child{
    margin-right: 70px;
    width: 25%;
}
.footer-widgets .container .col-sm-3 {
    width: 23%;
}

footer h3{
    color: #9EA2A6 !important;
    font-size: 14px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 17px;
    margin-top: 17px;
}

ul.redes li{
    line-height: 3em;
    margin-bottom: 6px;
}
ul.redes li a:hover{
	text-shadow: 0 3px 3px rgba(0,0,0,.3);
	color: #5E646B;
}
ul.redes li a:hover span{color:white;}

footer a {
    color: white;
    font-weight: 800;
}
.redes span.icon {
    font-size: 17px;
    background-color: #5E646B;
    border-radius: 28px;
    padding: 6px;
    margin-right: 16px;
}
.nav-footer > li {
    padding-left: 0px;
    line-height: 1em;
}
.nav-footer > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-footer a:hover {
    color: #5E646B;
}
.footer-bottom .col-sm-7 {
    margin: 0 auto;
    float: none;
    text-align: center;
}
.footer-bottom {
    padding-top: 20px;
    overflow: auto;
}
footer h4{
    color: #9EA2A6;
}
footer p{
    color: #9EA2A6 !important;
}
.content-title{
    margin-bottom: 18px;
}
.copy {
    margin-top: 21px;
    width: 100%;
    border-top: 1px solid #9EA2A6;
    overflow: auto;
}
.copy p {
    padding: 22px;
    float: left;
    margin-left: 114px;
    margin-bottom: 0px;
}
.copy .info {
    float: right;
    right: 102px;
    position: relative;
}
.info ul li {
    display: inline-block;
    padding: 13px 18px;
}
.info ul{
    margin-bottom: 0px;
}
.img-icons img {
	display: block;
	max-width: 100%;
	height: auto;
}

div#main-div-buttons {
    margin-left: auto;
    margin-right: auto;
}

div#main-div-buttons button {
    display: inline-block;
    margin: 10px;
}
    
div#main-div-buttons a {
    display: inline-block;
    margin: 10px;
    height: 46px;
    line-height: 2.3;
}
    

    

/********* 404 **********/
#seccion-404 { width: 100vw; height: calc(100vh - 60px); margin: 30px 0; background: url(../img/error_404.png) no-repeat center; background-size: contain; }
