
/******* elementos comunes a escritorio y tableta *************/
@media screen and (min-width: 700px) {
	
}

/******** tableta horizontal *********/
@media screen and (max-width: 1110px) and (min-width: 1010px) {

}

/******** tableta *********/
@media screen and (max-width: 1010px) and (min-width: 790px) {


}
/********* elementos comunes para celular y tableta ***********/
@media screen and (max-width: 1010px) {
	.navbar-toggle.link{display: block;}
	.navbar-fixed-top {
	    top: 0 !important;
	    border-width: 0 0 1px;
	    height: 14px;
	    background-color: rgb(255, 255, 255) !important;
	}
	.navbar-toggle{display: block;}
	.reserve{
		display: block;
		background-color: white;
		color: #e90000;
		width: 200px !important;
	}
	.reserve:hover,
	.reserve:active,
	.reverse:focus
	{
		background-color: #e90000 !important;
		color: white;
	}
	.btn-info {width: 75%;}
	.navbar-toggle {
	    background-color: rgb(255, 255, 255);
	    background-image: none;
	    border: 1px solid rgb(233, 0, 0) !important;
	    display: block;
	}
	.navbar-default .navbar-nav>li>a {
	    color: rgb(74, 74, 74);
	    text-shadow: none;
	}
	.nav.navbar-nav { margin: 0px; 	}
	.nav>li {
	    padding-left: 0px;
	    border-bottom: 1px solid rgb(210, 210, 210);
	    text-align: center;
	    float: none;
	}
	.navbar-bran {
	    position: absolute;
	    top: 0px;
	    left: 5px;
	}
	.logo {
	    padding: 9px 0px;
	    width: 32px;
	}
	.navbar-fijo .logo.logo-red {
	    display: none !important;
	}
	.navbar-bran .logo-white{display: none;}
	.navbar-bran .logo-movil {display: block;}
	.navbar-default .navbar-nav>li>a { 	    color: rgb(74, 74, 74); 	}
	.collpase.navbar-collpase{visibility: hidden;}
	.navbar-header{display: block}
	.navbar-header {height: 50px; 	display: block;}
	
	.baner-heading {font-size: 2em;}
	.banner-container .lead {     font-size: 1em; margin-bottom: 30px;}
	h1 {     font-size: 21px; }
	.list-group-item {    font-size: 10px;    width: 100%;     margin-bottom: 8px;}
	.list-group-item::after {visibility: hidden;}
	.content-text {     margin-top: 0px;     padding: 0px; }
	.background-img.right, .background-img.left {     position: relative; }
	div.single-page .page-content {     margin-top: 10px; }
	.text-right {     text-align: left; }
	#seccion-body-sculpting p {     font-size: 1em;  }
	.ui-accordion .ui-accordion-header {    font-size: 18px;}
	div.single-page p {     font-size: 1em; }
	.grid-img .col-sm-2 {
	    width: 20%;
	    padding-left: 0px;
	    padding-right: 0px;
	}	
	.roundabout .listado { width: 100%; }
	.roundabout .item { margin: 0 10px !important; }
	.carousel-control.left {
	    left: 0px;
	}
	.carousel-control.right {
	    right: 0px;
	}
	.item-title h1 {
	    font-size: 1.5em;
	}
	#seccion-services .contenedor-columnas {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.field-wrap.submit-wrap {
    margin: 0 auto !important;
	}

	.navbar.navbar-default .container-fluid {
	    height: 100%;
	}
	.list-group {
	    text-align: center;
	    }
	.widget-col-1 {
	    padding-top: 17px;
	}
	.glyphicon-triangle-bottom {
	    margin-top: 0px;
	    font-size: 10px;
	}
	footer h3 {
	padding-right: 0px;
	}

	.footer-widgets {
	    text-align: left;
	}
	.footer-widgets .container .col-sm-3:first-child {
	    margin-right: 70px;
	    width: 100% !important;
	    text-align: center;
	}
	.footer-logo{display:none;}
	ul.redes li {
	    line-height: 2em;
	    margin-bottom: 7px;
	}
	footer ul li {
	    line-height: 2em;
	}
	.footer-widgets .container .col-sm-3 {
	    width: 50% !important;
	    margin-bottom: 0px;
	}
	.footer-widgets .btn-info{
	    height: 39px;
	    font-size: 12px;
	}
	.footer-bottom .info {
	    display: none;
	}
	.footer-widgets .container .col-sm-3:last-child { 	    display: none;	}
	.footer-bottom {
	    padding-top: 0px;
	    text-align: center;
	}
	.copy {
	    margin-top: 0px;
	}    
	.copy p {
	    padding: 7px;
	        margin-left: 0px;
	        float: none;
	}
	.copy .info {
	    float: none;
	    right: 0px;
	}    


}

/******** Celular *********/
@media screen and (max-width: 790px) {	

}

