/*
Theme Name: Hollywood Urgent Care
Author: Juan Sebastián Echeverry
Author URI: http://www.sebaxtian.com/
Description: Hollywood Urgent Care
Version: 0.1
License: GNU General Public License
*/

.alignleft {
    float: left;
    margin-right: 35px;
    padding-bottom: 10px;
}

.alignright {
    float: right;
    margin-left: 35px;
    padding-bottom: 10px;
}
